:root {

  // GRID
  --grid-columns: 12;
  // Gutters
  --grid-gutter-default: 8px;
  --grid-gutter-sm: 8px;
  --grid-gutter-md: 12px;
  --grid-gutter-lg: 16px;
  --grid-gutter-xl: 16px;
  --grid-gutter-xxl: 16px;
  // Negative
  --grid-negative-gutter-default: -8px;
  --grid-negative-gutter-sm: -8px;
  --grid-negative-gutter-md: -12px;
  --grid-negative-gutter-lg: -16px;
  --grid-negative-gutter-xl: -16px;
  --grid-negative-gutter-xxl: -16px;
  // Container
  --grid-container-max-width-sm: 540px;
  --grid-container-max-width-md: 720px;
  --grid-container-max-width-lg: 960px;
  --grid-container-max-width-xl: 1140px;
  --grid-container-max-width-xxl: 1320px;
}
